<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'bootstrap/css/bootstrap.css' %}>
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="container ">
        <nav id="nav" class="navbar navbar-expand-lg bg-body p-0 sticky-top">
            <Link to="/" class="navbar-brand text-dark ms-4 mt-2" href="#home">
            <h2>Realtor</h2>
            </Link>

            <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-lg-flex justify-content-between" id="navbarNav">
                <ul class="navbar-nav mt-2 d-none d-lg-flex">
                    <li class="nav-item">
                        <Link to="/Fav" class="nav-link text-dark me-2" href="#fav">
                        <i class="fa-solid fa-heart fs-5"></i>
                        <span style="
                      backgroundColor: chocolate ; borderRadius: 20px ; width:100px  " class=" fs-6
                            text-light ms-1 pe-2 ps-1">

                        </span>
                        </Link>
                    </li>
                </ul>

                <div class="float-start">
                    <ul class="navbar-nav">

                        <li class="mt-2 me-3">
                            <span href="/userAds" class="fs-4">
                                {{user}}
                            </span>
                        </li>
                        <li class="mt-2 me-3">
                            <Link to="/userAds" class="">
                            My Ads
                            </Link>
                        </li>
                        <li class="mt-2 me-3">
                            <aspan href="/userAds" class="">
                                website users
                            </aspan>
                        </li>



                        <li class="nav-item ">
                            <span data-bs-toggle="modal" data-bs-target="#loginModal"
                                class="btn btn-danger rounded-5 me-3 ">
                                Sell
                            </span>
                        </li>


                        {% if user.id %}

                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="text-light fs-6 me-2 btn btn-dark">
                                LogOut
                            </a>
                        </li>
                        {% else %}
                        <div class="d-flex flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="{% url 'user-login' %}" class="text-light fs-6 me-2 btn btn-dark">
                                    LogIn
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-6 " href="{% url 'create-user' %}">
                                    SignUp
                                </a>
                            </li>
                        </div>

                        {% endif %}




                    </ul>
                </div>


                </ul>
            </div>
    </div>
    <div class="d-flex justify-content-end me-5  d-lg-flex">
        <a href="https://www.facebook.com/">
            <i class="fab fa-facebook text-dark pe-2"></i>
        </a>
        <a href="https://twitter.com/?lang=en">
            <i class="fab fa-twitter text-dark pe-2"></i>
        </a>
        <a href="https://www.linkedin.com/in/mustafa-badr-iti/">
            <i class="fab fa-linkedin text-dark"></i>
        </a>
    </div>
    </nav>
    </div>

    {% block content %}{% endblock content %}
</body>

</html>